<div class="col-md-10 sm-12 my-5 mx-auto">
  <div class="card">
    <div class="m-5">
      <h2 class="text-center mb-4">マイページ</h3>
      <% flash.each do |key, value| %>
        <% if value == "登録情報を更新しました" %>
            <div class="flash text-success col-6 mx-auto"><%= flash[:notice] %></div>
        <% end %>
      <% end %>
      <table class="table col-md-6 mx-auto">
        <tbody>
          <tr>
            <th width=150>氏名</th>
            <td height=50><%= @end_user.full_name %></td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td height=50><%= @end_user.full_name_kana %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td height=50><%= @end_user.phone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td height=50><%= @end_user.email %></td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-6 mx-auto mt-4">
        <table>
          <tr>
            <th><%= link_to "収入元登録・一覧", source_of_incomes_path %></th>
          </tr>
          <tr>
            <th><%= link_to "貯金先登録・一覧", savings_estinations_path %></th>
          </tr>
          <tr>
            <th><%= link_to "my相談一覧", my_index_consultations_path %></th>
          </tr>
          <tr>
            <th><%= link_to "いいねした相談履歴一覧", favorites_my_index_path %></th>
          </tr>
        </table>
      </div>
      <div class="mx-auto">
        <div class="text-center">
          <%= link_to "登録情報の編集", edit_end_users_path(@end_user), class: "btn btn-secondary mt-5 col-6" %>
          <%= link_to "退会する", confirm_end_users_path(@end_user), class: "btn btn-danger mt-3 mb-5- col-6" %>
        </div>
      </div>
    </div>
  </div>
</div>