  <div class="card col-11 mx-auto my-4">
    <div class="column flex-direction:row">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="my-4">
            <h3 class="text-center"><%= @dt.strftime("%Y年%-m月") %>の支出</h3>
            <div style="display:inline-flex; width: 100%;">
              <table class="mx-auto my-2">
                <thead class="text-center">
                  <tr>
                    <td style="border: none;">収入</td>
                    <td></td>
                    <td>支出</td>
                    <td></td>
                    <td>貯金</td>
                    <td></td>
                    <td>残金</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <%= link_to account_books_path do %>
                        <%= @end_user.income_total(@dt).to_s(:delimited) %>円
                      <% end %>
                    </td>
                    <td>－</td>
                    <% if @end_user_balance.count > 0 %>
                      <td><%= @end_user.balance(@dt).to_s(:delimited) %>円</td>
                      <td>－</td>
                      <td><%= @end_user.savings_amount(@dt).to_s(:delimited) %>円</td>
                      <td>＝</td>
                      <% if @end_user.balance_bop(@dt) < 0 %>
                        <td class="text-danger"><%= @end_user.balance_bop(@dt).to_s(:delimited) %>円</td>
                      <% else %>
                        <td><%= @end_user.balance_bop(@dt).to_s(:delimited) %>円</td>
                      <% end %>
                    <% else %>
                      <td><%= @end_user.payments(@dt).to_s(:delimited) %>円</td>
                      <td>－</td>
                      <td><%= @end_user.savings_amount(@dt).to_s(:delimited) %>円</td>
                      <td>＝</td>
                      <% if @end_user.balance_bop(@dt) < 0 %>
                        <td class="text-danger"><%= @end_user.payments_bop(@dt).to_s(:delimited) %>円</td>
                      <% else %>
                        <td><%= @end_user.payments_bop(@dt).to_s(:delimited) %>円</td>
                      <% end %>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="my-4">
              <%= pie_chart @bop_subject_graph,colors: ["#f0908d","#a0d8ef","#de82a7","#f0e68c","#ff9966","#f5f5f5","#efe0ff","#c7dc68","#ffae8a","#f6bfbc","#82cddd","#ff9966","#ffe4b5","#fff8dc","#e6e6e6","#e2c6ff","#98d98e","#ff9966","#fa8072","#c1e4e9","#ffc0cb","#fbd26b","#caac71","#d3d3d3","#dbd0e6","#ccffcc","#ffdab9","#eebbcb","#ccffff","#ffefef","#ffff9e","#caac71","#c0a2c7","#ffaf60"] %>
            </div>
            <%= render "public/shared/top_links", dt: @dt, current_time: @current_time %>
          </div>
        </div>
        <div class="my-4 col-md-6 col-sm-12">
          <div class="row top-3btn">
            <div class="ml-3 mt-4">
              <%= link_to  new_bop_subject_path, class: "btn btn-outline-secondary" do %>
                <i class="fas fa-book-open mx-1"></i>科目登録
              <% end %>
            </div>
            <div class=" ml-3 mt-4">
              <%= link_to new_account_book_path, method: :get, class: "btn btn-outline-secondary" do %>
                <i class="fas fa-money-bill mx-1"></i>収入登録
              <% end %>
            </div>
            <div class="ml-3 mt-4">
              <%= link_to deposit_balances_path, class: "btn btn-outline-secondary" do %>
                <i class="fas fa-piggy-bank mx-1"></i>貯金
              <% end %>
            </div>
          </div>
          <% @bop_subject_name.each do |bop_subject| %>
            <table class="table table-sm my-4 col-sm-11 mx-auto">
              <thead>
                <tr>
                  <th colspan="3" style="border: none; display:inline-flex;">
                    <%= bop_subject %>
                    <% if @end_user_balance.where(subject_name: bop_subject).count > 0 %>
                      <div>
                        <%= link_to bop_subjects_path({date: @dt,bop: 0}) do %>
                          ￥<%= @end_user.subject_balance(bop_subject, @dt).to_s(:delimited) %>
                        <% end %>
                      </div>
                      <div>－</div>
                      <div>
                        <%= link_to bop_subjects_path({date: @dt,bop: 1}) do %>
                          ￥<%= @end_user.subject_payments(bop_subject, @dt).to_s(:delimited) %>
                        <% end %>
                      </div>
                      <div>＝</div>
                      <% if @end_user.subject_bop(bop_subject, @dt) < 0 %>
                        <div class="text-danger">
                          ￥<%= @end_user.subject_bop(bop_subject, @dt).to_s(:delimited) %>
                        </div>
                      <% else %>
                        <div>
                          ￥<%= @end_user.subject_bop(bop_subject, @dt).to_s(:delimited) %>
                        </div>
                      <% end %>
                    <% else %>
                      <div>
                        <%= link_to bop_subjects_path({date: @dt,bop: 1}) do %>
                          ￥<%= @end_user.subject_payments(bop_subject, @dt).to_s(:delimited) %>
                        <% end %>
                      </div>
                    <% end %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @end_user_pay.where(subject_name: bop_subject).first(5).each do |bop_subject_index| %>
                  <tr>
                    <td colspan="" >
                      <%= link_to bop_subject_path(bop_subject_index) do %>
                        <%= bop_subject_index.date.strftime('%Y年%m月%d日') %>
                        ￥<%= bop_subject_index.total_price.to_s(:delimited) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to "編集", edit_bop_subject_path(bop_subject_index) %>
                    </td>
                    <td>
                      <%= link_to "削除", bop_subject_path(bop_subject_index), method: :delete, data: { confirm: '削除しますか？' } %>
                    </td>
                  </tr>
                <% end %>
                <% if @end_user_pay.where(subject_name: bop_subject).count > 5 %>
                  <tr>
                    <td colspan="7" class="index_more">
                      <%= link_to "･･･", bop_subjects_path({date: @dt, bop: 1}), class:"index_more_text" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>