  <div class="card col-11 mx-auto my-4">
    <div class="column flex-direction:row">
      <div class="row">
        <div style="width: 55%;">
          <div class="my-4">
            <h3 class="text-center"><%= @dt.strftime("%Y年%-m月") %>の支出</h3>
            <div style="display:inline-flex; width: 100%;">
              <table class="mx-auto" style="">
                <thead class="text-center">
                  <tr>
                    <td style="border: none;">収入</td>
                    <td></td>
                    <td>支出</td>
                    <td></td>
                    <td>残金</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <%= link_to account_books_path do %>
                      ￥<%= @end_user.income_total(@dt).to_s(:delimited) %>
                      <% end %>
                    </td>
                    <td>－</td>
                    <td>
                      ￥<%= @end_user.bop_subject_total(@dt).to_s(:delimited) %>
                    </td>
                    <td>＝</td>
                    <td>￥<%= @end_user.bop(@dt).to_s(:delimited) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <%= pie_chart @bop_subject_graph,colors: ["#82cddd","#f0908d","#339966","333"] %>
            </div>
            <div class="col-12">
              <% if params[:date].nil? or params[:date] == "#{@current_time.strftime("%Y-%m")}" %>
                <%= link_to "<先月", end_users_path({date: @dt.prev_month.strftime("%Y-%m")}) %>
                <%= link_to "翌月>", end_users_path({date: @dt.next_month.strftime("%Y-%m")}) %>
              <% elsif params[:date] == @current_time.prev_month.strftime("%Y-%m") %>
                <%= link_to "<#{@dt.prev_month.strftime("%Y年%-m月")}", end_users_path({date: @dt.prev_month.strftime("%Y-%m")}) %>
                <%= link_to "今月>", end_users_path, class: "ml-auto" %>
              <% elsif params[:date] == @current_time.next_month.strftime("%Y-%m") %>
                <%= link_to "<今月", end_users_path %>
                <%= link_to "#{@dt.next_month.strftime("%Y年%-m月")}>", end_users_path({date: @dt.next_month.strftime("%Y-%m")}) %>
              <% else %>
                <%= link_to "<#{@dt.prev_month.strftime("%Y年%-m月")}", end_users_path({date: @dt.prev_month.strftime("%Y-%m")}) %>
                <%= link_to "今月", end_users_path %>
                <%= link_to "#{@dt.next_month.strftime("%Y年%-m月")}>", end_users_path({date: @dt.next_month.strftime("%Y-%m")}) %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="my-4" style="width: 40%;">
          <div>
            <%= link_to "収入を追加する", new_account_book_path, method: :get %>
          </div>
          <div>
            <%= link_to  new_bop_subject_path do %>
              <i class="fas fa-plus-circle"></i>支出登録
            <% end %>
          </div>
          <% @bop_subject_name.each do |bop_subject| %>
            <table class="table table-sm my-4">
              <thead>
                <tr>
                  <th style="border-top: none; border-bottom: none; display:inline-flex;">
                    <div><%= bop_subject %></div>
                    <div>￥<%= @end_user.bop_subject(bop_subject, @dt).to_s(:delimited) %></div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @end_user_bop.where(subject_name: bop_subject).each do |bop_subject_index| %>
                  <tr>
                    <td>
                      <%= link_to bop_subject_path(bop_subject_index) do %>
                        <%= bop_subject_index.use_at.strftime('%Y年%m月%d日') %>
                        ￥<%= bop_subject_index.total_price.to_s(:delimited) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to "編集", edit_bop_subject_path(bop_subject_index) %>
                    </td>
                    <td>
                      <%= link_to "削除", bop_subject_path(bop_subject_index), method: :delete, data: { confirm: '削除しますか？' } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>