<div class="col-md-8 sm-10 mx-auto mt-5">
  <div class="card">
    <div class="m-5">
      <h3>相談内容編集</h3>
      <div class="row mt-4">
        <div class="col-lg-2 col-md-3">相談者</div>
        <div class="col-lg-9 col-md-9"><%= @consultation.full_name %></div>
      </div>
      <%= form_with model: @consultation, url: admin_consultation_path, method: :patch, local: true do |f| %>
        <%= f.label :title, "タイトル", class: "mt-4" %>
        <%= f.text_field :title, class: "form-control " %>
        <% if @consultation.errors.include?(:title) %>
          <p class="text-danger"><%= @consultation.errors.full_messages_for(:title).first %></p>
        <% end %>
        <%= f.label :body, "本文", class: "mt-4" %>
        <%= f.text_area :body, class: "form-control", rows:"7" %>
        <% if @consultation.errors.include?(:body) %>
          <p class="text-danger"><%= @consultation.errors.full_messages_for(:body).first %></p>
        <% end %>
        <div>
          <div class="mt-4" style="display:inline-flex">タグ：</div>
          <div style="display:inline-flex">
            <% @consultation_tags.each do |consultation_tag| %>
              <%= consultation_tag.name %>
            <% end %>
          </div>
        </div>
        <% if @consultation.score < 0 %>
          <div class="col-12 pl-0 mt-4" style="display:inline-flex">
            <p class="my-auto">
              確認状況：<br>
              (感情分析)
            </p>
            <%= f.check_box :emotion_check, class: "col-2 my-auto form-control" %>
          </div>
        <% end %>
        <div class="mx-auto">
          <%= f.submit "内容を更新", class:"col-12 btn btn-secondary mt-5" %>
        </div>
      <% end %>
      <div class="col-12 text-center my-4">
        <%= link_to "相談広場へ戻る", admin_consultations_path %>
      </div>
    </div>
  </div>
</div>