<div class="col-lg-10 col-md-11 mx-auto mt-5">
  <div class="card">
    <div class="m-5">
      <h3 class="d-inline">相談管理画面</h3>
      <%= render "search" %>
      <table class="table mt-3">
        <tbody>
          <% @consultations.each do |consultation| %>
            <tr>
              <td>
                <%= link_to admin_consultation_path(consultation) do %>
                  <%= consultation.title %>
                <% end %>
              </td>
              <td>
                <% consultation.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_consultation_path(consultation) do %>
                  コメント数：<%= consultation.comments.count %>
                <% end %>
              </td>
              <td>
                <%= link_to "削除", admin_consultation_path(consultation), method: :delete, class:  "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>