<div class="col-lg-10 col-md-12 mt-5 mx-auto">
  <div class="card">
    <div class="m-5">
      <div class="">
        <h3>相談詳細</h3>
        <div class="mt-4">
          <div class="row">
            <div class="col-lg-2 col-md-3">相談者</div>
            <div class="col-lg-9 col-md-9"><%= @consultation.full_name %></div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-2 col-md-3">タイトル</div>
            <div class="col-lg-9 col-md-9"><%= @consultation.title %></div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-2 col-md-3 align-top">相談内容</div>
            <div class="col-lg-9 col-md-9"><%= @consultation.body %></div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-2 col-md-3">タグ</div>
            <div class="col-lg-9 col-md-9">
              <% @consultation_tags.each do |consultation_tag| %>
                <%= consultation_tag.name %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-2 col-md-3">♥<%= @consultation.favorites.count %> いいね</div>
          <div class="comment-count col-lg-2 col-md-3">
            <p>コメント数：<%= @consultation.comments.count %></p>
          </div>
        </div>
        <% if @consultation.score < 0 %>
          <div style="display:inline-flex">
            確認状況：
            <% if @consultation.emotion_check == 1 %>
              <p>確認済み</p>
            <% else %>
              <p class="text-danger">未確認</p>
            <% end %>
          </div>
        <% end %>
        <div class="m-3 col-12" style="display:inline-flex">
          <div class="ml-auto mr-3"><%= link_to "編集", edit_admin_consultation_path, class: "btn btn-success" %></div>
          <div class="mr-auto ml-3"><%= link_to "削除", admin_consultation_path, method: :delete, data: { confirm: '削除しますか？' }, class: "btn btn-danger" %></div>
        </div>
        <div class="text-center"><%= link_to "一覧に戻る", admin_consultations_path %></div>
      </div>
      <div class="comment-index">
        <%= render "public/comments/comment-index", consultation: @consultation %>
      </div>
    </div>
  </div>
</div>