<div class="col-lg-10 col-md-12 mt-5 mx-auto">
  <div class="card">
    <div class="m-5">
      <div class="">
        <h3>相談詳細</h3>
        <table>
          <tr>
            <th class="col-2">タイトル</th>
            <td height="50"><%= @consultation.title %></td>
          </tr>
          <tr>
            <th class="col-2">相談内容</th>
            <td><%= @consultation.body %></td>
          </tr>
          <tr>
            <th></th>
          </tr>
          <tr>
            <th class="col-2">タグ</th>
            <td height="50">
              <% @consultation_tags.each do |consultation_tag| %>
                <%= consultation_tag.name %>
              <% end %>
            </td>
          </tr>
        </table>
        <!--<div class="favorite-btn">-->
        <!--  <%#= render 'public/favorites/favorite-btn', consultation: @consultation %>-->
        <!--</div>-->
        <div class="comment-count">
          <p>コメント数：<%= @consultation.comments.count %></p>
        </div>
      </div>
      <div class="comment-index">
        <%= render "public/comments/comment-index", consultation: @consultation %>
      </div>
    </div>
  </div>
</div>