<div class="col-lg-10 col-md-12 mt-5 mx-auto">
  <div class="card">
    <div class="m-5">
      <%= render "layouts/error_count", resource: @account_book %>
        <div style="display:inline-flex">
          <h3 class="mt-4">収入登録</h3>
        </div>
      <%= form_with model: @account_book, url: account_books_path, method: :post do |f| %>
        <div class="form-group">
          <%= f.label :source_of_income_id, "収入元" %>
          <%= f.collection_select( :source_of_income, @source_of_incomes, :id, :source_name, {include_blank: "--選択して下さい--"}, {class: "form-control"}) %>
          <% if @account_book.errors.include?(:source_of_income_id) %>
            <p class="text-danger"><%= @account_book.errors.full_messages_for(:source_of_income_id).first %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :income, "収入金額" %>
          <%= f.text_field :income, class:"form-control" %>
          <% if @account_book.errors.include?(:income) %>
            <p class="text-danger"><%= @account_book.errors.full_messages_for(:income).first %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :pay_day, "収入があった日" %>
          <%= f.date_field :pay_day, class:"form-control" %>
          <% if @account_book.errors.include?(:pay_day) %>
            <p class="text-danger"><%= @account_book.errors.full_messages_for(:pay_day).first %>
          <% end %>
        </div>
        <%= f.submit "登録", class: "btn btn-success col-12 mt-4" %>
      <% end %>
    </div>
    <%= link_to "収入一覧をみる", account_books_path, class: "col-12 mb-2 text-center" %>
    <%= link_to "収入元を登録する", source_of_incomes_path, class: "col-12 mb-5 text-center" %>
  </div>
</div>