<%= form_with model: @bop_subject, url: bop_subjects_path, method: :post do |f| %>
  <div class="bop_form active" id="payment_form_new">
    <h3 class="text-center">支出登録</h3>
    <div class="form-group">
      <%= f.label :date, "日付" %>
      <%= f.date_field :date, class: "form-control" %>
      <% if @bop_subject.errors.include?(:date) %>
        <p class="text-danger"><%= @bop_subject.errors.full_messages_for(:date).first %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :subject_name, "科目名" %>
      <%= f.text_field :subject_name, class: "form-control" %>
      <% if @bop_subject.errors.include?(:subject_name) %>
        <p class="text-danger"><%= @bop_subject.errors.full_messages_for(:subject_name).first %>
      <% end %>
    </div>
    <p>細目リスト入力欄</p>
    <div><%= render "errors_details" %></div>
    <div class="form-group">
      <table class="table bop_table">
        <thead>
          <tr class="text-center">
            <th>細目名</th>
            <th class="col-1">数量</th>
            <th>税込金額</th>
            <th class="">
              <div class="add-botton-box">
                <%= link_to_add_association f, :bop_details,
                  class: 'add_fields',
                  id: 'add-btn',
                  data: {
                    association_insertion_node: '#detail-association-insertion-point',
                    association_insertion_method: 'before'
                    } do %>
                    <i class="fas fa-plus-circle", style= "color: black; font-size: 25px;"></i>
                  <% end %>
              </div>
            </th>
          </tr>
        </thead>
         <tbody>
          <%= f.fields_for :bop_details do |d| %>
            <tr class="nested-fields">
              <%#= f.text_field :subject_name, :placeholder => "科目名（例：食費など）", class: "form-control mr-3" %>
              <td>
                <%= d.text_field :detail_name, :placeholder => "細目名（例：バナナなど）", class: "form-control mr-3" %>
              </td>
              <td>
                <%= d.text_field :amount, :value => 1, class: "form-control mr-3" %>
              </td>
              <td>
                <%= d.text_field :detail_price, :placeholder => "1000", class: "detail_price form-control" %>
              </td>
              <td class="align-middle">
                <%= link_to_remove_association f, class: 'bg-orange btn-type-s' do %>
                  <i class="fas fa-trash" style="font-size: 20px; color: black;"></i>
                <% end %>
              </td>
            </tr>
            <tr id="detail-association-insertion-point"></tr>
          <% end %>
          <tr>
            <td class="align-middle">細目の合計</td>
            <td></td>
            <td>
              <%= f.text_field :price, data: { autonumeric: { aSign: '¥ ', mDec: 0 } }, class: "detail_total_price form-control" %>
            </td>
            <td class="align-middle">円</td>
          </tr>
          <tr>
            <td class="align-middle" style="border: none;"><%= f.label :point, "ポイント利用" %></td>
            <td style="border: none;"></td>
            <td style="border: none;"><%= f.text_field :point, class: "point form-control" %></td>
            <td class="align-middle" style="border: none;">PT</td>
          </tr>
          <tr>
            <td class="align-middle" style="border: none;">支出額</td>
            <td style="border: none;"></td>
            <td style="border: none;">
              <%= f.text_field :total_price, class: "total_price form-control" %>
              <% if @bop_subject.errors.include?(:total_price) %>
                <p class="text-danger"><%= @bop_subject.errors.full_messages_for(:total_price).first %>
              <% end %>
            </td>
            <td class="align-middle" style="border: none;">円</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <%= f.label :store, "利用店" %>
      <%= f.text_field :store, class: "form-control" %>
      <% if @bop_subject.errors.include?(:store) %>
        <p class="text-danger"><%= @bop_subject.errors.full_messages_for(:store).first %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :memo, "メモ" %>
      <%= f.text_field :memo, class: "form-control" %>
    </div>
    <%= f.hidden_field :bop, value: "payments" %>
    <%= f.submit "登録", class: "btn btn-success col-12" %>
  </div>
<% end %>