<div id="new_payments">
  <h3 class="text-center">支出登録</h3>
  <div class="form-group">
    <%= f.label :account_book_id, "帳簿" %>
    <%= f.collection_select( :account_book_id, AccountBook.all, :id, :name, {prompt: false}, {class: "form-control inpur-sm"}) %>
  </div>
  <div class="form-group">
      <%= f.label :use_at, "利用日" %>
      <%= f.date_field :use_at, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price, "利用額" %>
    <%= f.text_field :price, data: { autonumeric: { aSign: '¥ ', mDec: 0 } }, class: "detail_total_price form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subject_name, "利用科目" %>
    <%= f.text_field :subject_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <p>利用細目</p>
     <div style="display:inline-flex">
      <%#= f.text_field :subject_name, :placeholder => "科目名（例：食費など）", class: "form-control mr-3" %>
      <%= f.fields_for :bop_details do |d| %>
        <%= d.text_field :detail_name, :placeholder => "細目名（例：バナナなど）", class: "form-control mr-3" %>
        <%= d.text_field :amount, :placeholder => "3", class: "form-control mr-3" %>
        <%= d.text_field :detail_price, :placeholder => "1000", class: "detail_price form-control" %>
      <% end %>
    </div>
    <div id="detail-association-insertion-point"></div>

    <div class="add-botton-box">
      <%= link_to_add_association "利用細目を追加", f, :bop_details,
        class: 'add_fields',
        id: 'add-btn',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'before'
          }
      %>
    </div>
  </div>
  <div class="form-group">
    <div style="display:inline-flex">
      <%= f.label :point, "ポイント利用", class: "col-4"%>
      <%= f.text_field :point, class: "point form-control" %>
      <p class="d-flex align-items-center mx-3">➡</p>
      <div clasS="col-4 align-items-center">
        <!--<p clas="total_price ">total_price</p>-->
        <%= f.text_field :total_price, class: "total_price form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.fields_for :bop_details do |d| %>
      <%= f.label :store, "利用店" %>
      <%= f.text_field :store, class: "form-control" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :memo, "メモ" %>
    <%= f.text_field :memo, class: "form-control" %>
  </div>
  <%= f.submit "登録", class: "btn btn-success col-12" %>
</div>