<%= javascript_pack_tag "edit" %>
<div class="col-lg-10 col-md-12 my-5 mx-auto">
  <div class="card" id="edit_bop" data-type="<%= @bop_subject.bop %>">
    <%= form_with model: @bop_subject, url: bop_subject_path, method: :patch do |f| %>
      <div class="m-5 bop_group">
        <%= render "layouts/error_count", resource: @bop_subject %>
        <div class="form-group bop_btn_group row mt-4">
          <div class="btn-group col-12" data-toggle="buttons">
            <label class="col-6 btn btn-outline-secondary bop_btn" id="tab_payment">
              <%= f.radio_button :bop, "payments" %>支出
            </label>
            <label class="col-6 btn btn-outline-secondary bop_btn" id="tab_balance">
              <%= f.radio_button :bop, "balance" %>収入
            </label>
          </div>
        </div>
        <div class="edit_bop_form">
          <%= render "edit_payment", bop_subject: @bop_subject %>
          <%= render "edit_balance", bop_subject: @bop_subject %>
        </div>
      </div>
    <% end %>
  </div>
</div>
