<div class="col-lg-10 col-md-11 mx-auto mt-5">
  <div class="card">
    <div class="m-5">
      <div class="row">
        <h3 class="col-9 d-flex align-items-center"><%= name %>相談一覧</h3>
        <div class="col-3 mx-auto" style="display: flex; justify-content: flex-end;">
          <%= link_to "相談する", new_consultation_path, class: "btn btn-secondary" %>
        </div>
      </div>
      <%= render "layouts/search", search_path: search_consultations_path %>
      <% if controller.action_name == "search" %>
        <h4 class="mt-4">"<%= params[:keyword] %>"の検索結果</h4>
      <% end %>
      <table class="table mt-3">
        <tbody>
          <% consultations.each do |consultation| %>
            <tr>
              <td>
                <%= link_to consultation_path(consultation) do %>
                  <%= consultation.title %>
                <% end %>
              </td>
              <td>
                <% consultation.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              </td>
              <td>
                <%= link_to consultation_path(consultation) do %>
                  コメント数：<%= consultation.comments.count %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>