<div class="col-lg-10 col-md-12 m-5 mx-auto">
  <div class="card">
    <div class="m-5">
      <%= render "public/shared/error_messages", resource: @comment %>
      <h3>相談詳細</h3>
      <table>
        <tr>
          <th class="col-2">タイトル</th>
          <td height="50"><%= @consultation.title %></td>
        </tr>
        <tr>
          <th class="col-2">相談内容</th>
          <td><%= @consultation.body %></td>
        </tr>
        <tr>
          <th></th>
        </tr>
        <tr>
          <th class="col-2">タグ</th>
          <td height="50">
            <% @consultation_tags.each do |consultation_tag| %>
              <%= consultation_tag.name %>
            <% end %>
          </td>
        </tr>
      </table>
      <% unless @consultation.end_user_id == current_end_user.id %>
        <div class="favorite-btn_<%= @consultation.id %>" id="favorite-btn">
          <%= render 'public/favorites/favorite-btn', consultation: @consultation %>
        </div>
      <% end %>
      <div class="comment-count">
        <p>コメント数：<%= @consultation.comments.count %></p>
      </div>
      <div class="comment-textarea">
        <%= render "public/comments/comment-post", consultation: @consultation, comment: @comment %>
      </div>
      <div class="comment-index">
        <%= render "public/comments/comment-index", consultation: @consultation %>
      </div>
      <div class="text-center mt-5">
        <%= link_to "相談広場へ戻る", consultations_path %>
      </div>
    </div>
  </div>
</div>