<div class="col-lg-10 col-md-12 mt-5 mx-auto">
  <div class="card">
    <div class="m-5">
      <h3>貯金登録</h3>
      <%= form_with model: @deposit_balance, url: deposit_balances_path, method: :post do |f| %>
        <div class="my-4">
          <div class="form-group">
            <%= f.label :deposit_date, "貯金月", class: "" %>
            <%= f.month_field :deposit_date, class: "form-control" %>
            <% if @deposit_balance.errors.include?(:deposit_date) %>
              <p class="text-danger"><%= @deposit_balance.errors.full_messages_for(:deposit_date).first %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :savings_estination_id, "貯金先" %>
            <%= f.collection_select( :savings_estination_id, @savings_estinations, :id, :savings_estination_name, {include_blank: "--選択して下さい--"}, {class: "form-control"}) %>
            <% if @deposit_balance.errors.include?(:savings_estination_id) %>
              <p class="text-danger"><%= @deposit_balance.errors.full_messages_for(:savings_estination_id).first %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :savings_amount, "貯金額" %>
            <%= f.text_field :savings_amount, class:"form-control" %>
            <% if @deposit_balance.errors.include?(:savings_amount) %>
              <p class="text-danger"><%= @deposit_balance.errors.full_messages_for(:savings_amount).first %>
            <% end %>
          </div>
          <div><%= f.submit "登録", class: "btn btn-success col-12 mt-4" %></div>
          <div class="text-center mt-4"><%= link_to "貯金一覧に戻る", deposit_balances_path %></div>
        </div>
      <% end %>
      </div>
    </div>
  </div>