<div class="my-5">
  <div class="card col-lg-10 col-md-11 mx-auto">
    <div class="my-5 col-lg-10 col-md-12 mx-auto">
      <h2 class="">新規登録</h2>
      <%= form_with model: @end_user, url: registration_path(resource_name), local: true do |f| %>
        <%= render "layouts/error_count", resource: @end_user %>
        <table class="">
          <thead>
            <tr>
              <th class="col-4"></th>
              <th style="width: 25px;"></th>
              <th class="col-3"></th>
              <th></th>
              <th class="col-3"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>氏名</td>
              <td class="align-top text-right" style="width: 40px;">
                <%= f.label :last_name, "(姓)", class: "mt-2" %>
              </td>
              <td>
                <%= f.text_field :last_name,autofocus: true, autocomplete: "last_name", :placeholder =>"朝暮", class: "form-control" %>
                <% if @end_user.errors.include?(:last_name) %>
                  <p class="text-danger"><%= @end_user.errors.full_messages_for(:last_name).first %>
                <% end %>
              </td>
              <td class="align-top text-right" style="width: 40px;">
                <%= f.label :first_name, "(名)", class: "mt-2" %>
              </td>
              <td>
                <%= f.text_field :first_name,autocomplete: "first_name", :placeholder =>"みなみ", class: "form-control" %>
                <% if @end_user.errors.include?(:first_name) %>
                  <p class="text-danger"><%= @end_user.errors.full_messages_for(:first_name).first %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td class="align-top text-right" width="25px">
                <%= f.label :last_name_kana, "(セイ)", class: "mt-2" %>
              </td>
              <td class="align-top">
                <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", :placeholder =>"アサクラ", class: "form-control" %>
                <% if @end_user.errors.include?(:last_name_kana) %>
                  <p class="text-danger"><%= @end_user.errors.full_messages_for(:last_name_kana).first %>
                <% end %>
              </td>
              <td class="align-top text-right">
                <%= f.label :first_name_kana, "(メイ)", class: "mt-2", style: "min-width:40px;" %>
              </td>
              <td>
                <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", :placeholder =>"ミナミ", class: "form-control" %>
                <% if @end_user.errors.include?(:first_name_kana) %>
                  <p class="text-danger"><%= @end_user.errors.full_messages_for(:first_name_kana).first %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :phone_number, "電話番号" %>
              </td>
              <td></td>
              <td colspan="3">
                <%= f.text_field :phone_number, :placeholder =>"0312345678", class: "form-control" %>
                <% if @end_user.errors.include?(:phone_number) %>
                  <p class="text-danger"><%= @end_user.errors.full_messages_for(:phone_number).first %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td></td>
              <td colspan="3">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                <% if @end_user.errors.include?(:email) %>
                  <p class="text-danger"><%= @end_user.errors.full_messages_for(:email).first %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :password, "パスワード(英数字#{@minimum_password_length}文字以上)" %>
              </td>
              <td></td>
              <td colspan="3">
                <%= f.password_field :password, class: "form-control" %>
                <% if @end_user.errors.include?(:password) %>
                  <p class="text-danger"><%= @end_user.errors.full_messages_for(:password).first %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :assword_confirmation, "パスワード(確認用)" %>
              </td>
              <td></td>
              <td colspan="3">
                <%= f.password_field :password_confirmation, class: "form-control" %>
                <% if @end_user.errors.include?(:password_confirmation) %>
                  <p class="text-danger"><%= @end_user.errors.full_messages_for(:password_confirmation).first %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="sign-up-btn">
          <%= f.submit "新規登録", class: "btn btn-success mt-5 col-12" %>
        </div>
      <% end %>
      <h6 class="mt-2">既に登録済みの方は、<%= link_to "こちら", new_end_user_session_path %>からログインしてください</h5>
      <h6 class="mt-2">ゲストログインの方は、<%= link_to "こちら", end_users_guest_sign_in_path, method: :post %>からログインしてください</h5>
    </div>
  </div>
</div>