<div class="col-md-10 col-sm-12 my-5 mx-auto">
  <div class="card">
    <div class="m-5">
      <h2 class="text-center mb-4">利用者情報編集</h2>
      <%= form_with model: @end_user, url: admin_end_user_path(@end_user), local: true do |f| %>
        <%= render "shared/error_messages", resource: @end_user %>
        <table class="col-12">
          <tbody>
            <tr>
              <td width=30% style="min-width: 120px;">氏名</td>
              <td height="50" width=70%>
                <div>
                  <div  class="text-right" style="display:inline-flex; width: 45%;">
                    <%= f.label :last_name, "(姓)", class: "my-auto mr-1", style:"width: 55px; min-width: 55px;" %><%= f.text_field :last_name,autofocus: true, autocomplete: "last_name", :placeholder =>"朝暮", class: "form-control" %>
                  </div>
                  <div  class="text-right" style="display:inline-flex; width: 45%;">
                    <%= f.label :first_name, "(名)", class:"my-auto mr-1", style:"width: 55px; min-width: 55px;" %><%= f.text_field :first_name,autocomplete: "first_name", :placeholder =>"みなみ", class: "form-control" %></td>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td height="60">フリガナ</td>
              <td>
                <div>
                  <div  class="text-right" style="display:inline-flex; width: 45%;">
                    <%= f.label :last_name_kana, "(セイ)", class: "my-auto mr-1", style:"width: 55px; min-width: 55px;" %><%= f.text_field :last_name_kana, autocomplete: "last_name_kana", :placeholder =>"アサクラ", class: "form-control" %>
                  </div>
                  <div class="text-right" style="display:inline-flex; width: 45%;">
                    <%= f.label :first_name_kana, "(メイ)", class: "my-auto mr-1", style:"width: 55px; min-width: 55px;" %><%= f.text_field :first_name_kana, autocomplete: "first_name_kana", :placeholder =>"ミナミ", class: "form-control" %>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td height="60"><%= f.label :phone_number, "電話番号" %></td>
              <td><%= f.text_field :phone_number, :placeholder =>"0312345678", class: "form-control", style:"width: 91%;" %></td>
            </tr>
            <tr>
              <td height="60"><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style:"width: 91%;" %></td>
            </tr>
            <tr>
              <td height="60"><%= f.label :share_code, "シェアコード" %></td>
              <td><%= f.text_field :share_code, class: "form-control", style:"width: 91%;" %></td>
            </tr>
            <tr>
              <td height="60"><%= f.label :is_deleted, "会員ステータス" %></td>
              <td>
                <div class="form-group row mt-3">
                  <div class="btn-group ml-3" data-toggle="buttons">
                    <label class="btn btn-outline-success active">
                      <%= f.radio_button :is_deleted, :false %>有効
                    </label>
                    <label class="btn btn-outline-danger">
                      <%= f.radio_button :is_deleted, :true %>退会
                    </label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="btn-center">
          <%= f.submit "利用者情報更新", class: "btn btn-secondary mt-5 col-6" %>
        </div>
      <% end %>
    </div>
  </div>
</div>