<% unless admin_signed_in? %>
  <div class="col-lg-10 col-md-11 mx-auto m-5">
    <div class="card">
      <div class="m-5">
        <div class="row">
          <h3 class="col-9 d-flex align-items-center"><%= name %>相談一覧</h3>
          <div class="d-inline" style="">
            <%= link_to "相談する", new_consultation_path, class: "btn btn-secondary" %>
          </div>
        </div>
        <%= render "layouts/search", search_path: search_path %>
        <% if controller.action_name == "search" %>
          <h4 class="mt-4">"<%= params[:keyword] %>"の検索結果</h4>
        <% end %>
        <table class="table mt-5">
          <thead>
            <tr>
              <th class="text-center">相談日時</th>
              <th class="text-center">相談タイトル</th>
              <th class="text-center">タグ</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%# if consultations.nil? %>
              <!--<p class="text-danger" style="font-size: 20px;">検索結果はありません</p>-->
            <%# else %>
              <% consultations.each do |consultation| %>
                <tr>
                  <td><%= consultation.created_at.strftime('%Y年%m月%d日 %H時%m分') %></td>
                  <td>
                    <%= link_to consultation_path(consultation) do %>
                      <%= consultation.title.truncate(20) %>
                    <% end %>
                  </td>
                  <td>
                    <% consultation.tags.each do |tag| %>
                      <%= tag.name %>
                    <% end %>
                  </td>
                  <td class="favorite-btn_<%= consultation.id %>">
                    <% unless consultation.end_user_id == current_end_user.id %>
                      <%= render 'public/favorites/favorite-btn', consultation: consultation %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to consultation_path(consultation) do %>
                      コメント数：<%= consultation.comments.count %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <%# end %>
          </tbody>
        </table>
        <%# unless consultations.nil? %>
          <div class="mt-4 d-flex justify-content-center"><%= paginate consultations %></div>
        <%# end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-lg-10 col-md-11 mx-auto m-5">
    <div class="card">
      <div class="m-5">
        <h3 class="d-inline">相談管理画面</h3>
        <%= render "layouts/search", search_path: search_path %>
        <h5 class="mt-3">感情分析</h5>
        <div class="form-inline">
          <%= form_with url: ai_search_path, method: :get, local: true, class:"col-12 pl-0" do |f| %>
            <%= f.select :score, options_for_select({ "選択してください" => "", "マイナス" => "minus", "プラス" => "plus" }), {}, class: "form-control" %>
            <%= f.select :check, options_for_select({ "選択してください" => "", "未確認" => 0, "確認済" => 1 }), {}, {class: "form-control"} %>
            <%= f.submit '検索', class: "btn btn-secondary col-2 ml-3" %>
          <% end %>
        </div>
        <% if controller.action_name == "search" %>
          <h4 class="mt-4">"<%= params[:keyword] %>"の検索結果</h4>
        <% end %>
        <table class="table mt-5">
          <thead>
            <thead>
              <tr>
                <th class="text-center">相談日時</th>
                <th class="text-center">相談タイトル</th>
                <th class="text-center">タグ</th>
                <th class="text-center" width="90px">感情分析</th>
                <th class="text-center" width="90px">確認状況</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
          </thead>
          <tbody>
            <%# if consultations.nil? %>
              <!--<p class="text-danger" style="font-size: 20px;">検索結果はありません</p>-->
            <%# else %>
              <% consultations.each do |consultation| %>
                <tr>
                  <td><%= consultation.created_at.strftime('%Y年%m月%d日 %H時%m分') %></td>
                  <td>
                    <%= link_to admin_consultation_path(consultation) do %>
                      <%= consultation.title.truncate(20) %>
                    <% end %>
                  </td>
                  <td>
                    <% consultation.tags.each do |tag| %>
                      <%= tag.name %>
                    <% end %>
                  </td>
                  <td class="text-center"><%= consultation.score %></td>
                  <td>
                    <% if consultation.score < 0 %>
                      <% if consultation.emotion_check == 1 %>
                        <p>確認済み</p>
                      <% else %>
                        <p class="text-danger">未確認</p>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    ♥<%= consultation.favorites.count %>
                  </td>
                  <td>
                    <%= link_to admin_consultation_path(consultation) do %>
                      コメント数：<%= consultation.comments.count %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "編集", edit_admin_consultation_path(consultation), class: "btn btn-success" %>
                  </td>
                  <td>
                    <%= link_to "削除", admin_consultation_path(consultation), method: :delete, data: { confirm: '削除しますか？' }, class:  "btn btn-danger" %>
                  </td>
                </tr>
              <% end %>
            <%# end %>
          </tbody>
        </table>
        <%# unless consultations.nil? %>
          <div class="mt-4 d-flex justify-content-center"><%= paginate consultations %></div>
        <%# end %>
      </div>
    </div>
  </div>
<% end %>